/* src/App.css */

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #dedede;
  color: #fff;
  margin: 5px;
  padding: 10px;
}

.shipment-tracker {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
}

.shipment-tracker h2 {
  text-align: center;
}

.shipment-tracker input {
  width: calc(100% - 40px);
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
}

.shipment-tracker button {
  width: 30%;
  padding: 10px;
  margin: 10px auto; /* Centers the button horizontally */
  font-size: 16px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Ensures proper centering */
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.shipment-tracker button:hover {
  background-color: #c9302c;
  transform: scale(1.05);
}

.shipment-tracker button:active {
  background-color: #ac2925;
  transform: scale(0.98);
}

.shipment-details h3{
  margin-left: 1px;
  color: #fff;
}
.shipment-details p,
.shipment-details ul {
  margin-top: 15px;

}

.shipment-details ul {
  list-style: none;
  padding: 0;
}

.shipment-details li {
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error {
  color: #ff4d4d;
  text-align: center;
}

/* App.css */

.App {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 12px;
}

.main-content {
  padding: 20px;
  margin-top: 60px; /* Space for NavBar */
}

h2 {
  color: #0d0d0d;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4em;
  margin: 12px;
}

h3 {
  color: #0d0d0d;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  margin: 12px;
  margin-top: 50px;
}

h1 {
  color: #0d0d0d;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4em;
}

.table-container {
  width: 100%;
  margin-top: 20px;
  text-align: center; /* Centers content like buttons */
}

.table-container button {
  width: 70%;
  padding: 10px;
  margin: 10px auto;
  font-size: 16px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.table-container button:hover {
  background-color: #c9302c;
  transform: scale(1.05);
}

.table-container button:active {
  background-color: #ac2925;
  transform: scale(0.98);
}

.admin-dashboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.admin-dashboard-table th {
  background-color: #a62b23;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.admin-dashboard-table td {
  padding: 0.8rem;
  font-size: 0.9rem;
  border-bottom: 1px solid #262626;
  font-size: medium;
  color: #2c2c2c;
}

.admin-dashboard-table tbody tr:nth-child(even) {
  background-color: #8c8c8c;
}

.admin-dashboard-table tbody tr:hover {
  background-color: #bb00008f;
  transition: background-color 0.3s;
}
